<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>nunjucks-webpack-loader-example</title>
    <link rel="shortcut icon" href="#">
</head>
<body>
    <h1>Context</h1>
    <p class="description">@{{ someString }}</p>
    <h1>Other Context</h1>
    <p class="description">@{{ otherContext }}</p>
    <h2>Partial</h2>
    @{% include "~common/partial.njk" %}
</body>
</html>